@model TesteProgramacaoMF.Profissionais.Application.ViewModels.FuncionarioObraViewModel

@{
    ViewData["Title"] = "Editar Funcionario Obra";
}

<h1>Editar Funcionario Obra</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FuncionarioId" class="control-label"></label>
                <select class="form-control" asp-for="FuncionarioId" asp-items="@ViewBag.Funcionarios">
                    <option value="">Selecione</option>
                </select>
                <span asp-validation-for="FuncionarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObraId" class="control-label"></label>
                <select class="form-control" asp-for="ObraId" asp-items="@ViewBag.Obras">
                    <option value="">Selecione</option>
                </select>
                <span asp-validation-for="ObraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtInicio" class="control-label"></label>
                <input asp-for="DtInicio" class="form-control" />
                <span asp-validation-for="DtInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtFim" class="control-label"></label>
                <input asp-for="DtFim" class="form-control" />
                <span asp-validation-for="DtFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
